# Use a relative path that works across OS (Forward slashes work in most cases)
-r computer_use_demo/requirements.txt  
# Package dependencies
ruff==0.6.7
pre-commit==3.8.0
pytest==8.3.3
pytest-asyncio==0.23.6
